:root {
    --primery-text-color: #2E2F42;
    --title-text-color: #434455;
    --accent-color: #4D5AE5;
}

.page {

    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    background: #E5E5E5;
    color: var(--primery-text-color);
}

.header {
    background: #FFFFFF;
}

.content {
    background: #F4F4FD;
    cursor: pointer;
}


.box-order,
.footer {
    background: var(--primery-text-color);
}

.slogan {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
}

/* цвет осн текста  #2E2F42 */
/* цвет описания #434455 */
/* белый цвет #FFFFFF */
/* цвет логотипа и кнопок  #4D5AE5 */
/* цвет описания логотипа  #E7E9FC */
/* вторичный цвет фона  #F4F4FD */
/* Основной цвет фона #E5E5E5 */
/* цвет футера #2E2F42 */

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;

}

.button-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
}

ul {
    list-style: none;
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.logo-next {
    color: var(--primery-text-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.logo-bottom {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    color: #F4F4FD;
}

.site-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.auth-nav {
    font-size: 16px;
    line-height: 1.5;
    color: var(--title-text-color);
}

.section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primery-text-color);
}

.section-item {
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primery-text-color);
}

.subtitle {
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}

.button-all {
    background: #404BBF;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.category {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
}