:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: #FFFFFF;
}

.header {
    background: #FFFFFF;
}

.content {
    background: var(--light);
    cursor: pointer;
}


.box-order,
.footer {
    background: var(--modal-overlay);
}

.slogan {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
}


.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;

}

.button-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background: var(--primary-brand);
}

.button-main:hover,
.button-main:focus {
    background-color: var(--pressed-state);
}


ul {
    list-style: none;
}

.logo {
    color: var(--primary-brand);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-decoration: none;
}

.logo-next {
    color: var(--modal-overlay);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-decoration: none;
}

.logo-bottom {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    color: #F4F4FD;
    text-decoration: none;
}

.site-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.auth-nav-link {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    text-decoration: none;
}

.auth-nav-link:hover,
.auth-nav-link:focus {
    color: var(--pressed-state);
}

.section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--modal-overlay);
}

.section-item {
    font-size: 16px;
    line-height: 1.2;
    color: var(--text);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--modal-overlay);
}

.subtitle {
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}

.button-all {
    background: var(--pressed-state);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.category {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-brand);
}

.header-link:hover,
.header-link:focus {
    color: var(--pressed-state);
    text-decoration: none;
}

.header-link {
    color: var(--dark);
    text-decoration: none;
}